

<div class="bg-black p-5 text-white my-5">
    <h3 class="ms-5">BrandSpotlight</h3>
    <div class="ms-5 mt-4 mb-4">
        <ul class="nav nav-underline d-flex gap-3">
            <li class="nav-item" style="border-bottom: 1px solid purple">
                <a class="nav-link active text-white" aria-current="page" href="#">PC's Gadgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Fashion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Assessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white">Kids</a>
            </li>
        </ul>
    </div>
    <div class="row gap-5 justify-content-around mb-5">
        <div class="brand-spotlight col-3 pt-5 d-flex justify-content-center" style="background-image: url('images/BrandSpotlight/samsung.jpg')">
            <a href="" class="mt-5 pt-5 pb-3">SAMSUNG</a>
        </div>
        <div class="brand-spotlight col-3 pt-5 d-flex justify-content-center" style="background-image: url('images/BrandSpotlight/nvidia.png')">
            <a href="" class="mt-5 pt-5 pb-3">NVIDIA</a>
        </div>
        <div class="brand-spotlight col-3 pt-5 d-flex justify-content-center" style="background-image: url('images/BrandSpotlight/playstation.jpg')">
            <a href="" class="mt-5 pt-5 pb-3">PLAYSTATION</a>
        </div>
        <div class="brand-spotlight col-3 pt-5 d-flex justify-content-center" style="background-image: url('images/BrandSpotlight/apple.jpg')">
            <a href="" class="mt-5 pt-5 pb-3">APPLE</a>
        </div>
        <div class="brand-spotlight col-3 pt-5 d-flex justify-content-center" style="background-image: url('images/BrandSpotlight/xbox.jpg')">
            <a href="" class="mt-5 pt-5 pb-3">XBOX</a>
        </div>
        <div class="brand-spotlight col-3 pt-5 d-flex justify-content-center" style="background-image: url('images/BrandSpotlight/hp.jpg')">
            <a href="" class="mt-5 pt-5 pb-3">HP</a>
        </div>
    </div>
    <a class="btn text-white px-5 ms-5" style="border: 1px solid white; border-radius: 1px;">see more</a>
</div>


@code {

}
