<div class="ms-4 me-3 my-5 p-4" style="background-color: rgba(0,0,0,0.07); border-radius: 1px">
    <div class="d-flex flex-column gap-4">
    <h3>Score these recent kicks</h3>
    <div class="p-2">
        <div class="d-flex flex-nowrap gap-5">
            <div class="d-flex flex-column gap-4 align-items-center">
                <div class="recent-kick" style="background-image: url('images/Kicks/2.jpg'); box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);">
                </div>
                <a href="">GET NOW <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <a href="">See more <i class="fa fa-arrow-right"></i></a>
</div>
</div>
@code {

}