<div class="mx-4 px-3 my-5 pb-4 pt-2" style="background-color: rgba(0,0,0,0.07); border-radius: 1px">
    <h3 class="fs-1 m-0 mb-2 ">Recently added this week</h3>
    <section class="d-flex gap-3 col-12 px-3 pb-3" style="height: 25em;">
        <div class="d-flex flex-column col-2 border-silver">
            <div class="col-12 position-relative recents-img flex-grow-1" style="background-image: url('images/adhoc/fork.jpg');">
                <div class="bg-black text-white px-2 position-absolute" style=" border-radius: 10px; left: 2%; bottom: 3%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); font-weight: 600; font-size: larger">N$16,000</div>
            </div>
            <div class="px-1">
                <label>Albutt grain bucket, Manitou fitting</label>
            </div>
        </div>
    </section>
</div>

@code {

}