@inherits LayoutComponentBase
@using LetsBatter.Client.Components

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
<div>
    <div class="" style="z-index: -1">
        <NavMenu />
    </div>
    <div>
        @Body
    </div>
    <div style="z-index:-1">
        <Footer />
    </div>
</div>