<div>
    <div style="height: 2em; background-color: black">

    </div>
    <div class="" style="border-bottom: 1px solid #b43e06">
        <div class="d-flex gap-3 align-items-center justify-content-between px-5" >
            <div class="col-2">
                <a class="fs-1 text-decoration-none" href="productdetails" style="color: brown;">Let's Batter</a>
            </div>
            <div class="col-4">
                <div class="ps-3 d-flex align-items-center" style="border: 1px solid #b43e06; border-radius:5px;">
                    <i class="fa fa-search"></i>
                    <input class="form-control" type="search" style="border:none" placeholder="Search for product or brand.." />
                </div>
            </div>
            <div class="d-flex gap-4 align-items-center">
                <a class="btn" id="" style="min-width: 7em; background-color: #28a745; color: rgb(5, 5, 5); font-weight: bold;" href="donate">Donate Here</a>
                <a class="btn" id="" style="min-width: 7em; background-color: #28A745; color: rgb(8, 8, 8); font-weight: bold;" href="#">Sell Now</a>
                <a id="" href="search" style="text-decoration: none; color: inherit;">BROWSE PRODUCTS</a>
                <a href="whats-new" class="btn" style="min-width: 7em; background-color: #db5b20; color: rgb(15, 15, 15); font-weight: bold; font-size: 1rem; border-radius: 0;">What's New?</a>

                <a class="accountsbtn btn" href="login" style="background-color: rgb(230, 207, 192); border-color: rgb(197, 141, 68); color: rgb(5, 5, 5);">LOGIN</a>
                <a class="accountsbtn btn" href="register" style="background-color: #ff590d; border-color: brown; color: rgb(8, 8, 8);">REGISTER</a>

            </div>
        </div>

        <hr class="mx-5 m-0" />
        <div class="d-flex justify-content-center gap-4 align-items-center">
            <ul class="category-links d-flex list-unstyled gap-5 m-0">
                <li class="">
                    <a class="text-decoration-none" href="/home" style="color: black; font-weight: bold;">Home</a>
                </li>
                <li class="d-flex align-items-center gap-1">
                    <i class="fa fa-heart"></i>
                    <a class="text-decoration-none" href="#" style="color: black; font-weight: bold;">Saved</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="/For Babies" style="color: black; font-weight: bold;">For Babies</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="/Gadgets" style="color: black; font-weight: bold;">Gadgets</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="/Machinery" style="color: black; font-weight: bold;">Machinery</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="/Collectibles" style="color: black; font-weight: bold;">Collectibles</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="/Fashion" style="color: black; font-weight: bold;">Fashion</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="/Motor" style="color: black; font-weight: bold;">Motor</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="/Electronics" style="color: black; font-weight: bold;">Electronics</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="#" style="color: black; font-weight: bold;">Browse by Style</a>
                </li>
            </ul>
            <div class="fs-2">
                |
            </div>
            <ul class="category-links d-flex justify-content-between gap-3 list-unstyled m-0">
                <li class="">
                    <a class="text-decoration-none" href="Blog" style="color: black; font-weight: bold;">Blog</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="contact" style="color: black; font-weight: bold;">Contact Us</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="about" style="color: black; font-weight: bold;">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
