@page "/about"

<div class="about-banner d-flex flex-column justify-content-center position-relative">
    <div class="text-white text-center w-50 py-5" style="background: rgba(0,0,0,0.8);
        position:absolute; left:25%; right:25%; bottom:10em">
        <h1></h1>
        <p>Discover innovative ways people are earning extra income while simultaneously reducing their ecological footprint.</p>
        <a href="#">Read more <i class="fa fa-arrow-right"></i></a>
    </div>
</div>

<div class="container text-center py-5">
    <h1>Who we are</h1>
    <p class="my-5">
        At Let's Batter, we're dedicated to creating a sustainable future by promoting conscious consumption and reducing waste. As a leading social marketplace in Namibia, we connect buyers and sellers across the country to facilitate the exchange of new and secondhand items.
        <br />
        <br />
        Whether you're on the hunt for stylish clothing, home goods, pet supplies, or essential hardware, our platform offers a convenient and affordable way to find the items you need. With Let's Batter, you can feel good about your purchases, knowing that you're contributing to a more eco-friendly way of living. We believe in the power of buying and selling pre-loved items, and our mission is to make it easy and accessible for everyone to participate.
        <br />
        <br />
        Join us in our efforts to create a more sustainable future, one purchase at a time.
    </p>
</div>


<div class="container-fluid text-center text-white py-5" style="background-color: black">
    <h1>Our Vision & Mission</h1>
    <p class="my-5">
        Our vision is to create a sustainable and inclusive platform that puts people first.
        <br />
        <br />
        We believe in empowering our community to connect, buy, sell, and barter in a way that promotes sustainability, reduces waste, and fosters economic growth.
        <br />
        <br />
        By putting people at the heart of commerce, we strive to create a world where everyone has the opportunity to thrive.
    </p>
</div>

<hr class="my-5" />

<section class="container-fluid d-flex justify-content-around px-5">
    <div class="row g-4">
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="text-light p-5 col-6" style="background-color: black; height: auto;">
            <h2 class="mb-4">Battering news</h2>
            <p>
                Join our newsletter to stay up-to-date with the latest news, insights, and original stories about our platform for buying and selling pre-owned goods. Get the facts and analysis delivered right to your inbox.
            </p>
            <div class="d-flex align-items-center gap-2 my-4" style="border-bottom: 1px solid white">
                <input class="form-control bg-transparent fs-5 border-0 text-light" style="" placeholder="Enter Email" type="email" required />
                <i class="fa fa-arrow-alt-circle-right fs-3 text-secondary" style=""></i>
            </div>
            <p class="">
                Protected by reCAPTCHA. The Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.
                <a href="#">Privacy Policy</a> | Opt out anytime
            </p>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>    
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>    
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>    
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>    
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
        <div class="col-3" style="text-align: justify">
            <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
            <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
            <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
            <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
            <a href="#" id="">Continue reading</a>
        </div>
    </div>
</section>




<div class="text-light mt-5 text-center carousel slide" style="background-color: black; height:50em;">
    <div class="py-4">
        <video class="mt-5" src="images/about/spinning.mp4" autoplay="autoplay" muted loop="loop" height="200"></video>
    </div>
    <h2 class="">How can I start selling my items on Let's Batter?</h2>
    <p class="my-5" style="padding: 10em 25em">
        Once you've confirmed that, simply go to our website at <a href="#">letsbatter.com/sell</a> and click on the 'Sell' button to create your shop. It's a straightforward process that only costs N$40 each time, and you can start building your global customer base right away. Happy selling!
    </p>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators mb-5 pb-5 mt-5">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
</div>

<div class="container-fluid px-5 my-5 d-flex justify-content-between">
    <div class="card" style="width: 30rem;">
        <img src="images/about/woman-boxes.jpg" class="card-img-top" style="height: 30em" alt="...">
        <div class="card-body">
            <a href="#" class="">Start Selling</a>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="images/about/advertise.jpg" class="card-img-top" style="height: 30em" alt="...">
        <div class="card-body">
            <a href="#" class="">Advertise with us</a>
        </div>
    </div>
    <div class="card" style="width: 30rem;">
        <img src="images/about/join-us.jpg" class="card-img-top" style="height: 30em" alt="...">
        <div class="card-body">
            <a href="#" class="">Join us</a>
        </div>
    </div>
</div>

@code {

}
