@page "/blog"

<div class="container d-flex my-5 justify-content-center">
    <div class="d-flex gap-3 col-6">
        <input class="form-control" placeholder="Search for Articles..." type="search" />
        <a class="btn" style="background-color: #28A745; color: white; font-weight: bold;">Search</a>
    </div>
</div>

<div class="container">
    <div class="ms-4">
        Articles Found [<label>39</label>] 
    </div>
    <hr class="mt-0 mb-5" />
</div>

<section class="container my-5">
    <div class="row g-4" style="text-align:justify">
        <div class="col-3">
            <img src="images/Blog1.png" height="250" class="col-12 bg-secondary" alt="Blog 1" />
            <p class="m-0">Sement. Heteroling ys, mössa. Inkohös. Ultrad ade.Supra nade hexaska, näst. Soralogi. </p>
            <a>Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-3">
            <img src="images/Blog2.png" height="250" class="col-12" alt="Blog 2" />
            <p class="m-0">Sement. Heteroling ys, mössa. Inkohös. Ultrad ade.Supra nade hexaska, näst. Soralogi. </p>
            <a>Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-3">
            <img src="images/Blog1.png" height="250" class="col-12" alt="Blog 1" />
            <p class="m-0">Sement. Heteroling ys, mössa. Inkohös. Ultrad ade.Supra nade hexaska, näst. Soralogi. </p>
            <a>Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-3">
            <img src="images/Blog2.png" height="250" class="col-12" alt="Blog 2" />
            <p class="m-0">Sement. Heteroling ys, mössa. Inkohös. Ultrad ade.Supra nade hexaska, näst. Soralogi. </p>
            <a>Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-3">
            <img height="250" class="col-12" alt="Blog 5" />
            <p class="m-0">Sement. Heteroling ys, mössa. Inkohös. Ultrad ade.Supra nade hexaska, näst. Soralogi. </p>
            <a>Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-3">
            <img height="250" class="col-12" alt="Blog 6" />
            <p class="m-0">Sement. Heteroling ys, mössa. Inkohös. Ultrad ade.Supra nade hexaska, näst. Soralogi. </p>
            <a>Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-3">
            <img height="250" class="col-12" alt="Blog 7" />
            <p class="m-0">Sement. Heteroling ys, mössa. Inkohös. Ultrad ade.Supra nade hexaska, näst. Soralogi. </p>
            <a>Read more <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</section>

<div class="my-5 py-1">
    <hr class="m-5" />
</div>

@code {

}
