@page "/contact"

<div class="justify-content-center p-5 m-5 row">
    <div class="col-4">
        <h2 class="mb-4">Information</h2>
        <div class="d-flex flex-column gap-4">
            <div class="d-flex align-items-center gap-2">
                <i class="fa fa-location"></i>
                3794 Independence Ave, Windhoek, Namibia
            </div>
            <div class="d-flex align-items-center gap-2">
                <i class="fa fa-mail-bulk"></i>
                P.O. Box 51421 Bachbrecht, Windhoek, Namibia
            </div>
            <div class="d-flex align-items-center gap-2">
                <i class="fa fa-mail-forward"></i>
                info@gmobility.co.na
            </div>
            <div class="d-flex align-items-center gap-2">
                <i class="fa fa-phone-alt"></i>
                +264 88 68 644
            </div>
            <div class="d-flex align-items-center gap-2">
                <i class="fa fa-calendar"></i>
                Monday - Friday : 08:00 - 1700hours
            </div>
        </div>
    </div>

    <div class="col-4">
        <h2 class="m-0">Send us a message</h2>
        <p class="">We will be happy to answer your questions</p>
        <form class="d-flex flex-column gap-3">
            <div class="">
                <label>Name</label>
                <input class="form-control" type="text" />
            </div>
            <div>
                <label>Email</label>
                <input class="form-control" type="email" />
            </div>
            <div>
                <label>Cellphone</label>
                <input class="form-control" type="number" />
            </div>
            <div>
                <label>Message</label>
                <textarea class="form-control"></textarea>
            </div>
            <div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload an Attachment</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
            <a class="btn btn-dark">Submit</a>
        </form>
    </div>
</div>

@code {

}
