@page "/donate"
<div class="bg-success " style="height: 5em; position:relative">
    <h3 class="position-absolute" style="top:25%; left: 2%">Donate</h3>
</div>
<div class="donate-banner">

</div>

<div class="container my-5 py-5">
    <div style="border-bottom: 2px solid green">
        <h2 class="m-0">Donate and help thousands of poeple in need</h2>
    </div>
    <p class="mt-4" style="text-align:justify">
        Dear valued donor, we at LetsBatter, a Namibian-based charity organization, are privileged to have a vast array of charitable organizations seeking our assistance. It is with great pleasure that we extend to you the opportunity to choose any of these remarkable organizations as a beneficiary for your generous donations.
        <br />
        <br />
        We understand that the decision of where to allocate your charitable contribution can be daunting. Therefore, we reassure you that if you are undecided, our team will gladly accept your contribution without any designated destination. We will ensure that your donation reaches those most in need and, furthermore, showcase your benevolent act on our website for all to see.
        <br />
        <br />
        Your generosity and kindness have the power to make a substantial impact in the lives of those less fortunate. We encourage you to seize this opportunity to spread compassion and kindness by giving to those who need it most.
        Thank you for considering LetsBatter as a means to help those in need. We deeply appreciate your support and look forward to partnering with you in this noble mission.

    </p>
</div>

<div class="form-section">
    <div class="w-100 h-100 d-flex flex-column justify-content-center pt-5" style="background-color: rgba(0,0,0,0.8)">
        <div class="container mb-5">
            <div class="bg-success  d-flex align-items-center " style="height: 5em">
                <h3 class="text-center w-100">Thank you in believing in the power of sharing</h3>
            </div>
            <div class="my-5 row justify-content-between g-4">
                <div class="col-5">
                    <label>Donate to:</label>
                    <select class="form-select">
                        <option class="bg-secondary" selected>Select</option>
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div>
                <div class="col-5">
                    <label>Donation Type:</label>
                    <select class="form-select">
                        <option class="bg-secondary" selected>Select</option>
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div>
                <div class="col-5">
                    <label>Quantity:</label>
                    <select class="form-select">
                        <option class="bg-secondary" selected>Select</option>
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div>
                <div class="col-5">
                    <label>Location:</label>
                    <select class="form-select">
                        <option class="bg-secondary" selected>Select</option>
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div>
                <div class="col-5">
                    <label>Additional Notes:</label>
                    <input class="form-control" style="height:10em" type="text" placeholder="Type us a message..." />
                </div>
                <div class="col-5 d-flex flex-column justify-content-between">
                    <div>
                        <label class="float-start">Condition:</label>
                        <select class="form-select">
                            <option class="bg-secondary" selected>Select</option>
                            <option>A</option>
                            <option>B</option>
                        </select>
                    </div>
                    <a class="btn btn-success float-end">Next</a>
                </div>
            </div>
        </div>
        <div class="bg-success">
            <div class="mx-5 px-5 text-center py-2">
                <p>
                    Disclaimer: While we appreciate and acknowledge every donation made through our platform, we cannot be held responsible for any loss, damage or misplacement of donated items or funds. Please note that any directives or values stipulated for such noble gestures are done so at the donor's discretion, and we cannot be held liable for any discrepancies or issues that may arise. Thank you for your understanding and support.
                </p>
                <p>Copyright © 2023 Powered by <a class="text-primary" href="www.gmobility.co.na">G Mobility Investment Technology CC</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center my-5">
    <div class="m-5 container" style="border-top: 2px solid green; border-bottom: 2px solid green">
        <p class="py-5 text-center">
            Thank you for considering donating to our cause. Your contributions are instrumental in creating a positive impact in the lives of youth in our community. Feel free to read the following articles, where we share with you how your donations keep youth off the streets and how it connects them to a healthy community.
        </p>
    </div>
</div>


<div class="d-flex justify-content-center gap-5 my-5">
    <div class="col-3 p-4" style="text-align: justify; box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);">
        <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
        <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
        <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
        <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
        <a href="#" id="">Continue reading</a>
    </div>
    <div class="col-3 p-4" style="text-align: justify; box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);">
        <img src="images/about/woman-boxes.jpg" class="col-12" height="400" />
        <label class="text-secondary ms-1" id="article-timeline">March 8, 2023 | Commerce, Sustainability</label>
        <h4 class="m-0" id="article-heading">Electronics waste: A growing problem with a simple solution</h4>
        <p class="m-0" id="article-summary">Did you know that 53.6 million metric tons of electronic waste were generated globally in 2019 alone? Rather than throwing away your old devices, try listing them on our platform for someone else to use and extend their.....</p>
        <a href="#" id="">Continue reading</a>
    </div>
</div>

@code {

}
