@page "/productdetails"

<div class="d-flex ms-5 col-2 my-4 gap-2 justify-content-end">
    <a href="/">Home</a>
    >>
    <a href="#">Hardware</a>
    >>
    <a href="">Gadgets</a>
    >>
    <a>Calculator</a>
</div>

<div class="mx-5 p-4" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);">
    <div class="d-flex justify-content-center gap-5">
        <div class="d-flex gap-3 col-5">
            <div class=" col-1 d-flex flex-column gap-1">
                <img src="~/images/NewFolder2/s-l400 (1).jpg" class="bg-secondary" style="width: 3.6em; height: 3.6em; border-radius: 10%;" />
                <img src="~/images/NewFolder2/s-l400 (1).jpg" class="bg-secondary" style="width: 3.6em; height: 3.6em; border-radius: 10%;" />
                <img src="~/images/NewFolder2/s-l400 (1).jpg" class="bg-secondary" style="width: 3.6em; height: 3.6em; border-radius: 10%;" />
                <img src="~/images/NewFolder2/s-l400 (1).jpg" class="bg-secondary" style="width: 3.6em; height: 3.6em; border-radius: 10%;" />
            </div>
            <div class="col-11">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/NewFolder2/s-l400 (1).jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div style="width: 2px; background-color: black" class="my-3"></div>
        <div class="mt-lg-3 col-5">
            <div>
                <h3 class="m-0">GET THIS PRODUCT NOW</h3>
                <div class="d-flex gap-4">
                    <a class="btn btn-secondary" href="" style="">Cash only</a>
                    <a class="btn btn-secondary" href="" style="">Batter</a>
                </div>
                <div class="text-white my-4 bg-black px-3 d-flex gap-4 align-items-center">
                    <div class="py-2">
                        <h2 class="mb-0">Texas Instruments Calculator - TI-81</h2>
                        <label class="fs-3 text-success mb-2" id="price">N$ 100</label>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa fa-clock"></i>
                            <label>6 days remaining</label>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa fa-clock"></i>
                            <label>Passed Inspection</label>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa fa-clock"></i>
                            <label>Verified Publisher</label>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa fa-clock"></i>
                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-and-crescent"></i>
                            </div>
                            <label>[12]</label>
                        </div>
                    </div>
                    <div class="gap-3">
                        <div class="d-flex mb-2 align-items-center gap-1">
                            6
                            <i class="fa fa-heart text-danger"></i>
                        </div>
                        <i class="fa float-end fa-message text-success"></i>
                    </div>
                </div>
            </div>
            <div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                PRODUCT DETAILS
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div>
                                    <div class="d-flex mb-2 justify-content-between align-items-center" style="border-bottom: 1px solid silver">
                                        <label>Size</label>
                                        <label>Womens / M / US 6-8</label>
                                    </div>
                                    <div class="d-flex mb-2 justify-content-between" style="border-bottom: 1px solid silver">
                                        <label>Condition</label>
                                        <div>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-and-crescent"></i>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-2 justify-content-between" style="border-bottom: 1px solid silver">
                                        <label>Style</label>
                                        <label>Womens / M / US 6-8</label>
                                    </div>
                                    <div class="d-flex m-0 justify-content-between" style="border-bottom: 1px solid silver">
                                        <label>Color</label>
                                        <label>Navi Blue</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                AVAILABLE OFFERS
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div>
                                    <ul>
                                        <li class="mb-2 justify-content-between" style="border-bottom: 1px solid silver; list-style-type: square;">
                                            Straight Cash
                                            <i class="fa float-end mt-1 fa-check-circle"></i>
                                        </li>
                                        <li class="mb-2 justify-content-between" style="border-bottom: 1px solid silver; list-style-type: square;">
                                            Batter
                                            <i class="fa float-end mt-1 fa-check-circle"></i>
                                        </li>
                                        <li class="mb-2 justify-content-between" style="border-bottom: 1px solid silver; list-style-type: square;">
                                            Straight Cash
                                            <i class="fa float-end mt-1 fa-cancel"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container my-5 d-flex flex-column">
    <div class=" ms-4 d-flex flex-column">
        <h2 class="m-0 text-decoration-underline">Comments</h2>
        <label class="">Be the first to leave a comment</label>
        <textarea class="mt-4 p-2" placeholder="Message..." style="width: 20em; height: 5em;"></textarea>
        <a class="btn btn-dark mt-2 btn-sm col-1">Send</a>
    </div>
</div>


<hr class="my-5 mx-5" />


<div class="my-5 mx-5">
    <div>
        <h3 class="mb-4">You may also like</h3>
        <div class="row gap-2 flex-nowrap overflow-scroll">
            <div class="col-3" style="background-color: silver; height: 20em">

            </div>
            <div class="col-3" style="background-color: silver; height: 20em">

            </div>
            <div class="col-3" style="background-color: silver; height: 20em">

            </div>
            <div class="col-3" style="background-color: silver; height: 20em">

            </div>
            <div class="col-3" style="background-color: silver; height: 20em">

            </div>
            <div class="col-3" style="background-color: silver; height: 20em">

            </div>
        </div>
    </div>
</div>


<div class="d-flex mx-5 border-black px-5 py-3 gap-4 align-items-center">
    <h3 class="m-0">Related Searches:</h3>
    <div>
        <a href="" class="text-decoration-none">baby pumpkins</a>
    </div>
</div>

<div class="my-5 mx-5 border-black px-5 py-3">
    <h4 class="m-0">Did you find what you were looking for?</h4>
    <div class="gap-4 d-flex">
        <button class="p-1 text-black text-decoration-none" style="border: 1px solid black; width: 3em; height: 2em; background-color: white">Yes</button>
        <button class="p-1 text-black text-decoration-none" style="border: 1px solid black; width: 3em; height: 2em; background-color: white">No</button>
    </div>
</div>

@code {

}
